################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DayOffTheWeek/.vs/DayOffTheWeek/v16
